{{!

	-- logo block

	@typedef object LogoItem
}}
<mw-article-footer>
	<footer>
		{{#html-footer-info}}
			<section>
				<a href="{{link-mainpage}}" class="ps-2">
					<img src="/w/skins/Library/resources/images/icon.png" title="Library" width="36px">
				</a>
				<div class="info">
					{{{html-footer-info}}}
				</div>
				{{#html-footer-category}}
					<div class="category">
						<ul class="nav">
							{{{html-footer-category}}}
						</ul>
					</div>
				{{/html-footer-category}}
			</section>
		{{/html-footer-info}}
		{{^html-footer-info}}
			<section class="d-none"></section>
		{{/html-footer-info}}
		<section class="d-flex justify-content-between">
			<div class="d-flex align-items-center">
				<div class="brand">
					<a href="{{link-mainpage}}" class="brand__link" title="Home">
						<span class="brand__logo" style="background-image: url({{link-logopath}});"></span>
					</a>
				</div>
				<ul class="nav">
					{{{html-footer-places}}}
				</ul>
			</div>
			<div class="icons">
				{{{html-footer-icons}}}
			</div>
		</section>
	</footer>
</mw-article-footer>