{{!
	@typedef object footerItem
	@prop string id of list item element
	@prop string html of list item
	@prop footerItem[] items

	@typedef object footerRow
	@prop string className of list element
	@prop string id of list element
	@prop footerItem[] array-items

	string html-hook-library-before-footer output of LibraryBeforeFooter hook
	string|null html-userlangattributes a string of attribute HTML
	footerRow[] array-footer-rows iterable list of footer rows
}}
<footer id="footer" class="content-footer" {{{html-userlangattributes}}}>
	<div class="container">
		<div class="row">
			<div class="col-md-9">
				<div class="brand">
					<a href="{{link-mainpage}}" class="navbar-brand" title="{{msg-sitetitle}}" >
						<i class="brand-logo" style="background-image: url({{link-logopath}});"></i>
					</a>
				</div>
				<ul class="navbar-nav d-flex flex-row">
					<li class="nav-item">
						<a href="/" class="nav-link">
							© theLiJIA (Lifamily)
						</a>
					</li>
					<li class="nav-item">
						<a href="/privacy-policy" class="nav-link">
							Privacy
						</a>
					</li>
					<li class="nav-item">
						<a href="/terms-of-service" class="nav-link">
							Terms of Service
						</a>
					</li>
				</ul>
			</div>
			<div class="col-md-3 d-flex align-items-center">
				<ul class="navbar-nav flex-row">
					<li class="nav-item">
						<a href="mailto:thelifamy@gmail.com" target="_top" class="nav-link">
							<i class="far fa-envelope"></i>
						</a>
					</li>
					<li class="nav-item">
						<a href="https://www.facebook.com/thelifamily/" target="_blank" class="nav-link">
							<i class="fab fa-facebook-square"></i>
						</a>
					</li>
					<li class="nav-item">
						<a href="https://github.com/yongxinL" target="_blank" class="nav-link">
							<i class="fab fa-github"></i>
						</a>
					</li>
					<li class="nav-item">
						<a href="https://www.instagram.com/thelifamy/" target="_blank" class="nav-link">
							<i class="fab fa-instagram"></i>
						</a>
					</li>
					<li class="nav-item">
						<a href="https://twitter.com/thelifamy" target="_blank" class="nav-link">
							<i class="fab fa-twitter"></i>
						</a>
					</li>
				</ul>
			</div>
		</div>
	</div>
</footer>