{{!
	@typedef object footerItem
	@prop string id of list item element
	@prop string html of list item
	@prop footerItem[] items

	@typedef object footerRow
	@prop string className of list element
	@prop string id of list element
	@prop footerItem[] array-items

	string html-hook-library-before-footer output of LibraryBeforeFooter hook
	string|null html-userlangattributes a string of attribute HTML
	footerRow[] array-footer-rows iterable list of footer rows
}}
<div id="footer" class="mw-footer" role="contentinfo" {{{html-userlangattributes}}}>
	<div class="container">
			{{{html-catlinks}}}
			<span>2020 theLijia</span>
	</div>
	<div style="clear: both;"></div>
</div>
