{{!

	-- logo block

	@typedef object LogoItem
	string link-mainpage	link to the mainpage
	string link-logopath	link to Logo image
	string msg-sitename		the contents of sitetitle message key

}}
<div class="brand">
	<a href="/" class="brand__link" title="Home">
		<span class="brand__logo" style="background-image: url({{link-logopath}});"></span>
	</a>
	<a href="{{link-mainpage}}" class="brand__link" title="{{msg-sitename}}">
		<span class="brand__title">{{msg-sitename}}</span>
	</a>
</div>