{{!

	@typedef object LogoItem
	string link-mainpage	link to the mainpage
	string link-logopath	link to Logo image
	string msg-sitetitle	the contents of sitetitle message key

}}
<div class="brand">
	<button class="sidebar-toggler" type="button" data-bs-toggle="tooltip" data-bs-placement="bottom" title="Navigation">
		<i class="fas fa-th"></i>
	</button>
	<a href="{{link-mainpage}}" class="navbar-brand" title="{{msg-sitetitle}}" >
		<i class="brand-logo" style="background-image: url({{link-logopath}});"></i>
	</a>

</div>