{{!
	See @typedef MenuDefinition
}}
<div id="{{id}}" {{#class}}class="{{.}}"{{/class}} aria-labelledby="{{label-id}}" {{{html-tooltip}}}
	 {{{html-userlangattributes}}}>
	{{#is-portal}}
		<h6 id="{{label-id}}" class="mw-sidebar-title">{{label}}</h6>
		<small class="mw-sidebar-text">{{{label-msg}}}</small>
		<ul class="{{list-classes}}">{{{html-items}}}</ul>
	{{/is-portal}}
	{{#is-tabs}}
	{{{html-items}}}
	{{/is-tabs}}

	{{#is-dropdown}}
	<a href="" class="mw-img-user"><i class="far fa-user"></i></a>
	<div class="dropdown-menu">
		<div class="mw-dropdown-header d-sm-none">
			<a href="" class="mw-header-arrow"><i class="fas fa-arrow-left"></i></a>
		</div>
		{{{html-menu-prebody}}}
		{{{html-items}}}
	</div>
	{{/is-dropdown}}
</div>