{{!
	See @typedef MenuDefinition
}}

{{#is-sidebar}}
<div id="{{id}}" class="sidebar-aside-pane">
	<h6 class="sidebar-aside-title">{{title}}</h6>
	<small class="sidebar-aside-text">{{info}}</small>
	<ul class="nav">
{{/is-sidebar}}
	{{{html-items}}}
{{#is-sidebar}}	
	</ul>
</div>
{{/is-sidebar}}