{{!

	-- page preloader block

	@typedef object LogoItem
}}
<mw-page-preloader>
	<div class="loader">
		|
		<span>o</span>
		<span>_</span>
		<span>o</span>
		|
		<span>^</span>
		<span>_</span>
		<span>^</span>
		|
		<span>+</span>
		<span>_</span>
		<span>+</span>
		|
	</div>
</mw-page-preloader>