{{!
	@prop string href
	@prop string text

	string msg-sitetitle
	string html-sidebar-aside

	MenuDefinition[] array-sidebar-body
}}

<div class="mw-sidebar">
	<a href="{{{main-page-href}}}" class="mw-sidebar-logo"><i class="fas fa-university"></i></a>
	<nav class="nav">
		{{{html-sidebar-aside}}}
	</nav>
	<div class="mw-sidebar-bottom">
		<a href="/wiki/Help:Contents" class="mw-sidebar-help"><i class="far fa-lightbulb"></i></a>
	</div>
</div>

<div class="mw-sidebar-aside">
	<div class="mw-sidebar-header">
		<a href="{{{main-page-href}}}" class="mw-logo">{{{msg-sitetitle}}}</a>
        <a href="" class="mw-sidebar-toggle-menu">
          <i class="fas fa-arrow-left"></i>
          <i class="fas fa-times"></i>
        </a>
	</div>
	<div class="mw-sidebar-body">
		{{#array-sidebar-body}}{{>Menu}}{{/array-sidebar-body}}
	</div>
</div>