{{!
	@prop string href
	@prop string text

	string msg-sitetitle
	string html-sidebar-aside

	MenuDefinition[] array-sidebar-body
}}

<div class="sidebar-icon">
	<a href="{{{link-mainpage}}}" class="sidebar-icon-logo"><i class="fab fa-wpexplorer"></i></a>
	<nav class="nav">
		{{#data-sidebar-iconbar}}{{>Menu}}{{/data-sidebar-iconbar}}
	</nav>
    <div class="sidebar-bottom">
        <a href="/wiki/Special:Preferences" class="nav-link"><i class="fas fa-user-cog"></i></a>
        <a href="/wiki/Help:Contents" class="nav-link"><i class="far fa-question-circle"></i></a>
    </div>
</div>	{{!-- sidebar-icon --}}

<div class="sidebar-aside">
	<div class="sidebar-aside-header">
		<div class="sidebar-header-pane">
			<a href="{{{link-mainpage}}}" class="sidebar-aside-logo">{{{msg-sitetitle}}}</a>
			<small>{{msg-tagline}}</small>
		</div>
        <a href="" class="sidebar-toggle-menu">
          <i class="fas fa-arrow-left"></i>
          <i class="fas fa-times"></i>
        </a>
	</div>
	<div class="sidebar-aside-body">
		{{#data-sidebar-aside}}{{>Menu}}{{/data-sidebar-aside}}
	</div>
</div>	{{!-- sidebar-aside --}}