{{!
    TODO:  update document
}}

<div class="wrapper">
	{{>Sidebar}}
	<div class="workspace-container">
		{{>Navigation}}
		<div class="container">
			<main class="content-container" role="main">
				<a id="top"></a>
				<div id="siteNotice" class="body-content-notice">{{{html-site-notice}}}</div>
				<header class="body-content-header">
					<div>
						<div id="contentSub"{{{html-userlangattributes}}}>
							{{{html-subtitle}}}
						</div>
						<h2 id="firstHeading" class="content-header-title">{{html-title}}</h2>
						{{!-- <p class="content-header-text">info</p> --}}
					</div>
					{{#page-isarticle}}
					<div class="content-header-right">
						<div class="media">
							<div class="media-body">
								<label>Last Edit</label>
								<h6>{{msg-lastedit}}</h6>
							</div>
						</div>
						{{#html-head-category}}
						<div class="media">
							<div class="media-body">
								<label>Category</label>
								<h6>{{{html-head-category}}}</h6>
							</div>
						</div>
						{{/html-head-category}}
						<a href="javascript:print();" class="btn btn-info">Print</a>
					</div>
					{{/page-isarticle}}
				</header>
				<div class="body-content-nav">
					<nav class="nav">
						{{#data-namespaces}}{{>Menu}}{{/data-namespaces}}
                    </nav>
					<nav class="nav">
						{{#data-views}}{{>Menu}}{{/data-views}}
						{{#data-actions}}
							{{#html-items}}
							<a class="nav-link btn" type="button" id="actionbtn" data-bs-toggle="dropdown" aria-expanded="false">
								<i class="fas fa-ellipsis-h"></i>
							</a>
							<div class="dropdown-menu">
								{{#data-actions}}{{>Menu}}{{/data-actions}}
							</div>
							{{/html-items}}
						{{/data-actions}}
                    </nav>
				</div>
				<div id="content" class="media body-content">
					<div class="media-body">
						<div id="contentSub2">{{{html-undelete-link}}}</div>
						{{{html-user-message}}}
						{{{html-body-content}}}
						{{{html-categories}}}
					</div>	{{!-- media-body --}}
					{{#page-istoc}}
					<div class="media-right sticky-top"></div>
					{{/page-istoc}}
				</div>
			</main>	{{!-- content-container --}}
			{{{html-after-content}}}
		</div>	{{!-- container --}}
	</div>	{{!-- workspace-container --}}

	<div class="workspace-container footer-container">
		<div class="content-container">
			{{#data-footer}}{{>Footer}}{{/data-footer}}
		</div>
	</div>	{{!-- footer-container --}}
</div>	{{!-- wrapper --}}