{{!

	-- Library skin for MediaWiki
	
	@typedef object skinLibrary

	boolean				page-isarticle
    string              html-site-notice            
    MenuDefinition[]    data-search-box             input for searchbox form
}}
{{> preloader}}
<mw-root>
	{{> topappbar}}
	<mw-navigation-drawer>
		{{> leftnavrail}}
		{{> navdrawer}}
		<mw-drawer-app-content>
			<div class="page-content">
				<mw-article-page>
					<main id="content" role="main" aria-label="main content">
						<a id="top"></a>
						{{#page-isarticle}}
							{{> pagehero}}
						{{/page-isarticle}}
						<article class="mw-article-body" data-mw-ve-target-container>
							{{{html-user-message}}}
							{{{html-body-content}}}
						</article>
					</main>
					{{{html-after-content}}}
				</mw-article-page>
				{{> footer}}
			</div>
		</mw-drawer-app-content>
	</mw-navigation-drawer>
	{{> bottomappbar}}
	{{> searchmodal}}
</mw-root>
<!-- Bootstrap core JavaScript
================================================== -->
<!-- Placed at the end of the document so the pages load faster -->
<script src="/w/skins/Library/resources/bootstrap/bootstrap.bundle.min.js"></script>
<script src="/w/skins/Library/resources/skins.library.js"></script>