@font-face{
    font-family:"Google Sans";
    font-style:normal;
    font-weight:400;
    font-display:swap;
    src:url("./ProductSans-Regular-17.woff") format("woff");
	
}
@font-face{
    font-family:"Google Sans";
    font-style:normal;
    font-weight:400;
    font-display:swap;
    src:url("./ProductSans-Regular-18.woff") format("woff");
}
@font-face{
    font-family:"Google Sans";
    font-style:normal;
    font-weight:500;
    font-display:swap;
    src:url("./ProductSans-Medium-17.woff") format("woff");
}
@font-face{
    font-family:"Google Sans";
    font-style:normal;
    font-weight:500;
    font-display:swap;
    src:url("./ProductSans-Medium-18.woff") format("woff");
}
@font-face{
    font-family:"Google Sans";
    font-style:normal;
    font-weight:600;
    font-display:swap;
    src:url("./ProductSans-SemiBold-17.woff") format("woff");
}
@font-face{
    font-family:"Google Sans";
    font-style:normal;
    font-weight:600;
    font-display:swap;
    src:url("./ProductSans-SemiBold-18.woff") format("woff");
}
@font-face{
    font-family:"Google Sans";
    font-style:normal;
    font-weight:700;
    font-display:swap;
    src:url("./ProductSans-Bold-17.woff") format("woff");
}
@font-face{
    font-family:"Google Sans";
    font-style:normal;
    font-weight:700;
    font-display:swap;
    src:url("./ProductSans-Bold-18.woff") format("woff");
}
/* armenian */
@font-face{
    font-family:"Google Sans";
    font-style:normal;
    font-weight:400 700;
    font-display:swap;
    src:url("./4UaGrENHsxJlGDuGo1OIlL3ewp5eKQtGBlc.woff2") format("woff2");
    unicode-range:U+0308, U+0530-058F, U+2010, U+25CC, U+FB13-FB17;
}
/* cyrillic */
@font-face{
    font-family:"Google Sans";
    font-style:normal;
    font-weight:400 700;
    font-display:swap;
    src:url("./4UaGrENHsxJlGDuGo1OIlL3Kwp5eKQtGBlc.woff2") format("woff2");
    unicode-range:U+0301, U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116;
}
/* devanagari */
@font-face{
    font-family:"Google Sans";
    font-style:normal;
    font-weight:400 700;
    font-display:swap;
    src:url("./4UaGrENHsxJlGDuGo1OIlL3Pwp5eKQtGBlc.woff2") format("woff2");
    unicode-range:U+0900-097F, U+1CD0-1CF6, U+1CF8-1CF9, U+200C-200D, U+20A8, U+20B9, U+25CC, U+A830-A839, U+A8E0-A8FB;
}
/* georgian */
@font-face{
    font-family:"Google Sans";
    font-style:normal;
    font-weight:400 700;
    font-display:swap;
    src:url("./4UaGrENHsxJlGDuGo1OIlL3Rwp5eKQtGBlc.woff2") format("woff2");
    unicode-range:U+0589, U+10A0-10FF, U+2D00-2D2F;
}
/* greek */
@font-face{
    font-family:"Google Sans";
    font-style:normal;
    font-weight:400 700;
    font-display:swap;
    src:url("./4UaGrENHsxJlGDuGo1OIlL3Nwp5eKQtGBlc.woff2") format("woff2");
    unicode-range:U+0370-03FF;
}
/* gurmukhi */
@font-face{
    font-family:"Google Sans";
    font-style:normal;
    font-weight:400 700;
    font-display:swap;
    src:url("./4UaGrENHsxJlGDuGo1OIlL3twp5eKQtGBlc.woff2") format("woff2");
    unicode-range:U+0964-0965, U+0A01-0A75, U+200C-200D, U+20B9, U+25CC, U+262C, U+A830-A839;
}
/* hebrew */
@font-face{
    font-family:"Google Sans";
    font-style:normal;
    font-weight:400 700;
    font-display:swap;
    src:url("./4UaGrENHsxJlGDuGo1OIlL3Mwp5eKQtGBlc.woff2") format("woff2");
    unicode-range:U+0590-05FF, U+200C-2010, U+20AA, U+25CC, U+FB1D-FB4F;
}
/* lao */
@font-face{
    font-family:"Google Sans";
    font-style:normal;
    font-weight:400 700;
    font-display:swap;
    src:url("./4UaGrENHsxJlGDuGo1OIlL3Hwp5eKQtGBlc.woff2") format("woff2");
    unicode-range:U+0E81-0EDF, U+25CC;
}
/* tamil */
@font-face{
    font-family:"Google Sans";
    font-style:normal;
    font-weight:400 700;
    font-display:swap;
    src:url("./4UaGrENHsxJlGDuGo1OIlL3Ywp5eKQtGBlc.woff2") format("woff2");
    unicode-range:U+0964-0965, U+0B82-0BFA, U+200C-200D, U+20B9, U+25CC;
}
/* thai */
@font-face{
    font-family:"Google Sans";
    font-style:normal;
    font-weight:400 700;
    font-display:swap;
    src:url("./4UaGrENHsxJlGDuGo1OIlL3awp5eKQtGBlc.woff2") format("woff2");
    unicode-range:U+0E01-0E5B, U+200C-200D, U+25CC;
}
/* vietnamese */
@font-face{
    font-family:"Google Sans";
    font-style:normal;
    font-weight:400 700;
    font-display:swap;
    src:url("./4UaGrENHsxJlGDuGo1OIlL3Bwp5eKQtGBlc.woff2") format("woff2");
    unicode-range:U+0102-0103, U+0110-0111, U+0128-0129, U+0168-0169, U+01A0-01A1, U+01AF-01B0, U+1EA0-1EF9, U+20AB;
}
/* latin-ext */
@font-face{
    font-family:"Google Sans";
    font-style:normal;
    font-weight:400 700;
    font-display:swap;
    src:url("./4UaGrENHsxJlGDuGo1OIlL3Awp5eKQtGBlc.woff2") format("woff2");
    unicode-range:U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face{
    font-family:"Google Sans";
    font-style:normal;
    font-weight:400 700;
    font-display:swap;
    src:url("./4UaGrENHsxJlGDuGo1OIlL3Owp5eKQtG.woff2") format("woff2");
    unicode-range:U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
@font-face {
  font-family: "Material Symbols Outlined";
  font-style: normal;
  font-weight: 100 700;
  font-display: block;
  src: url("./material-symbols-outlined.woff2") format("woff2");
}
.material-symbols-outlined {
  font-family: "Material Symbols Outlined";
  font-weight: normal;
  font-style: normal;
  font-size: 24px;
  line-height: 1;
  letter-spacing: normal;
  text-transform: none;
  display: inline-block;
  white-space: nowrap;
  word-wrap: normal;
  direction: ltr;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
  font-feature-settings: "liga";
}

@font-face {
  font-family: "Material Symbols Rounded";
  font-style: normal;
  font-weight: 100 700;
  font-display: block;
  src: url("./material-symbols-rounded.woff2") format("woff2");
}
.material-symbols-rounded {
  font-family: "Material Symbols Rounded";
  font-weight: normal;
  font-style: normal;
  font-size: 24px;
  line-height: 1;
  letter-spacing: normal;
  text-transform: none;
  display: inline-block;
  white-space: nowrap;
  word-wrap: normal;
  direction: ltr;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
  font-feature-settings: "liga";
}

@font-face {
  font-family: "Material Symbols Sharp";
  font-style: normal;
  font-weight: 100 700;
  font-display: block;
  src: url("./material-symbols-sharp.woff2") format("woff2");
}
.material-symbols-sharp {
  font-family: "Material Symbols Sharp";
  font-weight: normal;
  font-style: normal;
  font-size: 24px;
  line-height: 1;
  letter-spacing: normal;
  text-transform: none;
  display: inline-block;
  white-space: nowrap;
  word-wrap: normal;
  direction: ltr;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
  font-feature-settings: "liga";
}