@charset "UTF-8";
/**------------------------------------------------------------------------------
 *
 *   1. FONTS IMPORT
 *   2. BOOTSTRAP OVERRIDES
 *   3. CUSTOM ELEMENT STYLES
 *   6. PAGE LAYOUT STYLES
 *
 *------------------------------------------------------------------------------
*/

/* ######### FONTS IMPORT ######### */
@import url("https://fonts.googleapis.com/css?family=Roboto:300,400,500,700,900");
@import url("https://fonts.googleapis.com/css?family=Montserrat:300,400,500,600,700,800");
@import url("https://fonts.googleapis.com/css?family=Raleway:400,500,600,700,800");
@import url('https://fonts.googleapis.com/css?family=Nunito:400,700');

/* ######### PAGE LAYOUT STYLES ######### */
.body {
	min-height: 100vh;
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	position: relative;
}

.body::before{
	content: '';
	position: fixed;
	top: 45%;
	left: 70%;
	transform: translate3d(-50%, -58%, 0);
	font-size: 1300px;
	font-weight: 600;
	letter-spacing: -10px;
	line-height: .5;
	opacity: .02;
	z-index: -1;
	display: none;
}
.workspace-container {
	border-left-color: #cdd4e0;
	box-shadow: 0 0 7px rgba(28, 39, 60, 0.08);
	position: relative;
	padding: 0;
	min-height: 100vh;
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	background-color: #f4f5f8;
}
.workspace-header {
	background-color: #fff;
	border-bottom: 1px solid #cdd4e0;
	box-shadow: 0 0 10px rgba(28, 39, 60, 0.06);
	height: 60px;
}
.workspace-header > .container,
.workspace-header > .container-fluid {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-left: 20px;
    padding-right: 20px;	
}
.workspace-header-left {
	display: flex;
	align-items: center;	
}
.workspace-header-left .workspace-header-menu-icon {
	margin-right: 10px;
	width: 20px;
	height: 30px;
	display: flex;
	align-items: center;
}
.workspace-header-left .workspace-header-menu-icon span {
    display: block;
    position: relative;
    width: 15px;
    height: 2px;
    background-color: #1c273c;
    border-radius: 3px;
    transition: all 0.2s ease-in-out;	
}
.workspace-header-left .workspace-header-menu-icon span::before,
.workspace-header-left .workspace-header-menu-icon span::after {
	content: '';
	position: absolute;
	left: 0;
	width: 20px;
	height: 2px;
	background-color: #1c273c;
	border-radius: 3px;
	transition: all 0.2s ease-in-out;	
}
.workspace-header-left .workspace-header-menu-icon span::before {
	top: -6px;
}
.workspace-header-left .workspace-header-menu-icon span::after {
	bottom: -6px;
}
.workspace-header-center {
	flex: 1;
	margin: 0 50px;
	position: relative;
	display: none;	
}
.workspace-header-center .form-control {
	border-color: #e3e7ed;
    border-width: 2px;
    background-color: #fcfcfc;
    transition: none;
    height: 40px;	
}
.workspace-header-center .form-control:focus {
	background-color: #fff;
	border-color: #b4bdce;
	box-shadow: none !important;	
}
.workspace-header-center .form-control:focus + .btn {
	color: #7987a1;
}
.workspace-header-center .btn,
.workspace-header-center button {
    position: absolute;
    top: 0;
    right: 0;
    background-color: transparent;
    height: 40px;
    color: #b4bdce;
    transition: none;
    font-size: 16px;
    padding-right: 13px;	
}
.workspace-header-center .btn:hover,
.workspace-header-center .btn:focus,
.workspace-header-center button:hover,
.workspace-header-center button:focus {
	color: #1c273c;
}
.workspace-header-right {
	display: flex;
	align-items: center;	
}
.workspace-header-message,
.workspace-header-notification {
	position: relative;
}
.content-container {
	flex: 1;
	padding: 25px;
}

/* ##### sidebar ##### */
.sidebar-icon {
	width: 64px;
	display: none;
	flex-direction: column;
	align-items: center;
	padding: 20px 0;
	position: fixed;
	top: 0;
	left: 0;
	height: 100%;
	background-color: #e3e7ed;
	z-index: 500;
}

.sidebar-icon-logo {
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
	font-size: 32px;
	line-height: .9;
	color: #1c273c;
	flex-shrink: 0;
	text-decoration: none;
	margin-bottom: 20px;
	position: relative
}
.sidebar-icon-logo::after {
	content: '';
    position: absolute;
    bottom: -5px;
    left: 20px;
    height: 3px;
    width: 24px;
    background-color: #5b47fb;
    border-radius: 2px;
}
.sidebar-icon-logo:hover, .sidebar-icon-logo:focus {
	color: #1c273c;
	text-decoration: none;
}
.sidebar-icon .nav {
	flex: 1;
	flex-direction: column;
	align-items: center;
	padding: 5px 0;
}
.sidebar-icon .nav-link {
	position: relative;
	padding: 0;
	color: #031b4e;
	width: 40px;
	height: 40px;
	display: flex;
	align-items: center;
	justify-content: center;
}
.sidebar-icon .nav-link i {
	font-size: 28px;
}
.sidebar-icon .nav-link i.fas::before {
	width: auto;
}
.sidebar-icon .nav-link:hover, .sidebar-icon .nav-link:focus {
	color: #596882;
	text-decoration: none;
}
.sidebar-icon .nav-link.active {
	color: #5b47fb;
}
.sidebar-icon .nav-link + .nav-link {
	margin-top: 10px;
}
.sidebar-bottom {
	flex-shrink: 0;
	display: flex;
	flex-direction: column;
	align-items: center;
}
.sidebar-bottom .nav-link {
	line-height: 0;
	font-size: 18px;
	color: #7987a1;
}
.sidebar-bottom .nav-link i {
	font-size: 24px;
}
.sidebar-bottom .nav-link:last-child {
	margin-bottom: 20px;
}
.sidebar-bottom .nav-link:hover, .sidebar-bottom .nav-link:focus {
	color: #1c273c;
}

.sidebar-aside {
	width: 230px;
	height: 100%;
	background-color: #e3e7ed;
	border-right: 1px solid #b4bdce;
	position: fixed;
	top: 0;
	left: 64px;
	overflow-y: hidden;
	z-index: 600;
	display: none;
}
.sidebar-aside-logo {
	font-weight: 700;
	font-size: 24px;
	font-family: 'Poppins', sans-serif;
	color: #5b47fb;
	letter-spacing: -1px;
	text-decoration: none;
	line-height: 1;
	display: flex;
	align-items: center;
	position: relative;
}
.sidebar-aside-logo:hover,
.sidebar-aside-log:focus {
	color: #5b47fb;
	text-decoration: none;
}

.sidebar-aside-header {
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: 30px 20px;
	padding-left: 10px;	
}
.sidebar-aside-header .sidebar-aside-title {
	line-height: 1;
	font-size: 24px;
}
.sidebar-toggle-menu {
	display: block;
	position: relative;
	line-height: 0;
	text-decoration: none;
	color: #1c273c;
	font-size: 21px;
	opacity: .5;
}
.sidebar-toggle-menu:hover, .sidebar-toggle-menu:focus {
	opacity: 1;
	color: #1c273c;
	text-decoration: none;
}
.sidebar-toggle-menu i:first-child {
	display: none;
}
.sidebar-aside-body {
	padding: 20px;
	padding-left: 0;
	height: calc(100vh - 68px);
}
.sidebar-aside-pane {
	margin-bottom: 20px;
	display: none;
}
.sidebar-aside-pane.show {
	display: block;
}
.sidebar-aside-title {
	font-size: 20px;
	font-weight: 700;
	color: #1c273c;
	margin-bottom: 10px;
	line-height: 1;
}
.sidebar-aside-text {
	display: block;
	font-size: 12px;
	color: #7987a1;
	margin-bottom: 12px;
}
.sidebar-aside-body .nav {
    flex-direction: column;
    border-left: 2px solid #cdd4e0;
	margin-left: 0;
    padding-top: 10px;
    padding-left: 20px;	
}
.sidebar-aside-body .nav-item {
	position: relative;
    display: block;
}
.sidebar-aside-body .nav-item + .nav-item {
	margin-top: -1px;
	border-top: 1px dotted #bdc6d6;
}
.sidebar-aside-body .nav-item:active .nav-link,
.sidebar-aside-body .nav-item:active .nav-link i {
	color: #5b47fb;
}

.sidebar-aside-body .nav-link {
	position: relative;
	color: #031b4e;
	font-size: 13px;
	padding: 0;
	display: flex;
	align-items: center;
	height: 38px;
}
.sidebar-aside-body .nav-link i {
	color: #97a3b9;
	font-size: 16px;
	font-weight: 400;
	line-height: 0;
	margin-right: 10px;
}
.sidebar-aside-body .nav-link i.far {
	line-height: .9;
}
.sidebar-aside-body .nav-link i.far::before {
	width: autos;
}
.sidebar-aside-body .nav-link:hover, .sidebar-aside-body .nav-link:focus,
.sidebar-aside-body .nav-link:hover i, .sidebar-aside-body .nav-link:focus i {
	color: #5b47fb;
	text-decoration: none;
}

@media (prefers-reduced-motion: reduce) {
	.workspace-header-left .workspace-header-menu-icon span,
	.workspace-header-left .workspace-header-menu-icon span::before,
	.workspace-header-left .workspace-header-menu-icon span::after {
		transition: none;
	}
}

@media (min-width: 1200px) {
	.workspace-container .workspace-header-center {
		margin-left: 0;
	}
	.sidebar-aside {
		border-right: 0;
		z-index: 500;
	}
	.sidebar-aside.show + .workspace-container {
		margin-left: 294px;
	}
	.sidebar-toggle-menu {
		font-size: 22px;
	}
	.sidebar-toggle-menu::before {
		content: '';
        position: absolute;
        top: 3px;
        bottom: 3px;
        left: -1px;
        border-left: 2px solid #1c273c;
	}
	.sidebar-toggle-menu i:first-child {
		display: block;
	}
	.sidebar-toggle-menu i:last-child {
		display: none;
	}
}

@media (min-width: 992px) and (max-width: 1199.98px) {
	.workspace-container .workspace-header-center {
		margin-left: 5px;
	}
}

@media (min-width: 992px) {
	.workspace-container {
		border-left: 1px solid #cdd4e0;
		margin-left: 64px;
		z-index: 550;	
	}
	.workspace-header {
		position: relative;
		z-index: 100;
		height: 64px;
	}
	.workspace-header > .container,
	.workspace-header > .container-fluid {
		padding-left: 25px;
        padding-right: 25px;		
	}
	.workspace-header > .container {
		padding: 0;
	}
	.workspace-header-left .workspace-header-menu-icon {
		display: none;
	}
	.workspace-header-center {
		display: block;
	}
	.sidebar-icon {
		display: flex;
	}
	.sidebar-aside.show {
		display: block;
	}
}
@media (max-width: 991.98px) {
	.sidebar-show .sidebar-icon {
		display: flex;
	}
	.sidebar-show .sidebar-aside {
		display: block;
	}
}